.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;  

  .sign-in-form{
    width: 99%;

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      top: 155px;
    }
  }
  .title {
    margin: 10px 0;
  }

}