.sign-up {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  .title {
    margin: 10px 0;
  }
  .sign-up-form {
    width: 98%;
  }
  .buttons {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -20px;
      width: 100%;
      justify-content: center;

  }
}
