body {
  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Lexend Peta', sans-serif;
  padding: 20px 60px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  * {
    box-sizing: border-box;
  }